.post{
    background-color: grey;
    padding: 40px;
    width: 50%;
    border-radius: 15px;
}

img{
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    margin: 12px;
}